@import "tailwindcss";

@theme {
  --color-background: #0B0E14;
  --color-surface: #151A22;
  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;
  --color-secondary: #8B5CF6;
  --color-accent: #10B981;
  --color-text-main: #F3F4F6;
  --color-text-muted: #9CA3AF;
  --color-border: #374151;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: "Trebuchet MS", "Segoe UI", "Noto Sans", sans-serif;
  }
}
